html {
    height: 100%;
}

#channel-select {
    width: 20vw;
    border-radius: 0;
    margin-left: 3em;
    margin-top: 3em;
    padding: 1em;
}

#channel-select-container {
    padding-right: 3em;
}

#dms-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.dm-link {
    padding: 0.3em;
    border-radius: 0.3em;
    width: 97%;
}

.dm-link:hover {
    background-color: #efefef;
    cursor: pointer;
}

.dm-link:hover {
    background-color: #efefef;
    cursor: pointer;
}